{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.company.enable }}
{{ with .Site.Data.contact.company }}
<section class="contact-section section">
  <div class="container">
    <div class="row">
      <!-- Contact Details -->
      <div class="contact-details col-lg-12">
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <p class="mb-5">{{ .content | markdownify }} </p>

        <div class="row">
          {{ range .office }}
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h4 class="mb-4">{{ .name | markdownify }}</h4>
            <ul class="contact-short-info list-unstyled">
              {{ range .officeContact }} <a href="callto:{{ . }}">
              <li>
                <i class="{{ .icon }} mr-3"></i>
                <span>{{ .content | markdownify }}</span>
              </li>
              {{ end }}
            </ul> </a>
          </div>
          {{ end }}
        </div>
      </div>
    
    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
{{ end }}
{{ end }}

{{ if .Site.Data.contact.map.enable }}
<section class="section pt-2 pb-0">
  <div class="container">
    <div class="col-lg-12 col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d28784.625751768952!2d85.10276709054747!3d25.602316959522213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d25.5927126!2d85.09605669999999!4m5!1s0x39ed5931d93ecf75%3A0x3b668b4b8cda48d4!2sgandhi%20maidan%20mobile%20store!3m2!1d25.6155816!2d85.1428057!5e0!3m2!1sen!2sin!4v1629546739303!5m2!1sen!2sin" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d28784.625751768952!2d85.10276709054747!3d25.602316959522213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d25.5927126!2d85.09605669999999!4m5!1s0x39ed5931d93ecf75%3A0x3b668b4b8cda48d4!2sgandhi%20maidan%20mobile%20store!3m2!1d25.6155816!2d85.1428057!5e0!3m2!1sen!2sin!4v1629546739303!5m2!1sen!2sin" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       
    </div>
  </div>
</section>
{{ end }}


{{ end }}